/* pagina mural */

*,
body {
  font-family: "Exo 2", sans-serif;
  
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #834cc9;
}

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: white;
  height: 100vh;
  overflow: auto;
}

.regua {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

}

.superFeliz {
  background-color: green;
}

.feliz {
  background-color: lightgreen;
}

.neutro {
  background-color: yellow;
}

.triste {
  background-color: orange;
}

.superTriste {
  background-color: red;
}

.conjunto_btn{
  width: 10%
}

.item-regua {
  margin-right: 10%;
  padding: 19%;
  text-align: center;
 
}

.btn_emocional{
  background-color: #824cc900;
  border: none;
}

#myChart{
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(255,165,0,1) 25%, rgba(255,255,0,1) 50%, rgba(144,238,144,1) 75%, rgba(0,128,0,1) 100%);
}

.dashdiv{
  width: 70%;
}

.mensagem_estresse{
  margin-top: 3%;
  width: 100%;
  height: 100px;
}

.mensagem_estresse div{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #834cc9;
  background-color: #824cc917;
  height: 90px;
  border-radius: 20px;
  font-size: 25px;
  margin: 0 25px;
  padding-top: 20px;
  padding-left: 20px;
  text-align: center;
}

#myRange{
  margin: 5px;
}

span.min{
  color: green;
  font-weight: 600;
  font-size: xx-large;
}

span.max{
  color: red;
  font-weight: 600;
  font-size: xx-large;
}

div#stress{
  color: #834cc9;
  margin-left: 48.5%;
  font-weight: 600;
  font-size: xx-large;
}

.slideContainer{
  margin-left: 50px;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider{
  -webkit-appearance: none;
  border: none;
  appearance: none;
  width: 90%;
  margin: 0 75px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover{
  opacity: 1;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #834cc9;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  height: 900px;
  width: 100%;
  align-items: center;
  color: white;
}

.infoSessao{
  border-radius: 50px;
  background-color: #834cc9;
  width: 100%;
  margin: 0.5%;
}

html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(166, 166, 166, 0.64);
}
html ::-webkit-scrollbar-track {
  background: #d9d9d900;
}

.tituloSessao{
  margin-bottom: 5px;
  font-size: large;
  text-align: center;
}

.linha{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  overflow-x: scroll;
  background-color: #824cc975;
  margin-bottom: 2%;
}

.video{  
  border-radius: 10px;
  align-items: center;
  height: 292px;
  width: 520px;
  transition-duration: 0.8s;
  padding: 5px;
  margin: 5px;
}

.video:hover{
  transform: scale(0.95);
}

.card {
  margin: 2%;
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  height: 180px;
  justify-content: right;
  background-color: #212124;
  font-size: 20px;
}

.card p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.cards h1 {
  font-size: 22px;
  width: 100%;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: "Exo 2", sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}